body {
 margin: 50px;
 padding-left: auto;
 padding-right: auto;
 max-width: auto;
 background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
}
​
input {
 -webkit-writing-mode: horizontal-tb !important;
 text-rendering: auto;
 color: -internal-light-dark(black, white);
 letter-spacing: normal;
 word-spacing: normal;
 text-transform: none;
 text-indent: 0px;
 text-shadow: none;
 display: inline-block;
 text-align: start;
 appearance: textfield;
 background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
 -webkit-rtl-ordering: logical;
 cursor: text;
 margin: 0em;
 font: 400 13.3333px Arial;
 padding: 1px 2px;
 border-width: 2px;
 border-style: inset;
 border-color: blue;
 border-image: initial;
}
​
.container {
 padding: 25px auto;
 max-width: 60%;
}
.card {
 position: relative;
 display: flex;
 flex-direction: column;
 text-align: inherit;
 min-width: 0;
 word-wrap: break-word;
 background-color: #fff;
 background-clip: border-box;
 border: 1px solid rgba(0, 0, 0, 0.125);
 border-radius: 0.25rem;
}
.card-body {
 padding: 4px;
 padding-bottom: 0;
 max-height: 3;
}
​
.list-group {
 display: flex;
 flex-direction: column;
 padding-left: 0;
 margin-bottom: 0;
 border-radius: 0;
 border-color: white;
 font-family: "Montserrat", sans-serif;
}
​
.weather-app {
 max-width: 900px;
 margin: 0 auto;
}
​
.row {
 padding: 0px;
}
​
.icon {
 margin-top: 40px;
 margin-right: 15px;
}
​
.icon-1 {
}
​
.column-1 {
 font-weight: lighter;
 font-family: "DM Sans", sans-serif;
 color: #e64a19;
}
​
.column-2 {
 font-weight: lighter;
 font-family: "DM Sans", sans-serif;
 color: #2196f3;
}
​
.column-3 {
 font-weight: lighter;
 font-family: "DM Sans", sans-serif;
 color: #198754;
}
​
.column-4 {
 font-weight: lighter;
 font-family: "DM Sans", sans-serif;
 color: #e64a19;
}
.column-5 {
 font-weight: lighter;
 font-family: "DM Sans", sans-serif;
 color: #21209c;
}
​
.column-6 {
 font-weight: lighter;
 font-family: "DM Sans", sans-serif;
 color: #198754;
}
​
#box-contents {
 font-size: large;
 margin-left: 5px;
 margin-right: 0%;
}
​
#search-button {
 font-size: medium;
 padding-left: 0;
 padding-right: 0;
 margin-left: 0;
 margin-right: 0;
}
​
#weather {
 padding-bottom: 20px;
 padding-top: 20px;
 padding-left: 0;
}
​
.col-3 {
 margin-left: 0;
}
​
.Input {
 padding-bottom: 0;
 padding-left: 0;
 padding-right: 0;
 padding-top: 0;
 text-align: start;
 text-indent: 0px;
 text-rendering: auto;
 text-shadow: none;
 text-transform: none;
 margin-bottom: 0px;
 margin-left: 0px;
 margin-right: 0px;
}
​
li {
 list-style: none;
 display: inline;
}
​
ul {
 padding: 0;
}
​
h5 {
 text-align: right;
}
​
h4 {
 margin-left: 20px;
}
​
.list-group-item {
 padding-bottom: 0px;
 padding-top: 20px;
 padding-left: 0px;
 border: 0;
}
​
#font-size {
 font-size: xx-large;
 font-weight: 500;
 margin-left: 50px;
 margin-bottom: 20px;
}
​
em {
 color: tomato;
}
​
.purple {
 color: #845ec2;
}
​
.green {
 color: #75cfb8;
}
​
.clickIt {
 background: #0d6efd;
 color: #ffffff;
 border: 1px solid #885df1;
 border-radius: 3px;
}
​
.small {
 display: block;
 text-align: left;
 margin: 0 auto;
 padding-left: 20px;
 line-height: 3;
}